:root {
    --dark-background-color: #313131;
    --dark-background-color-hover: #423f3f;
    --dark-text-color: white;
    --dark-text-color-hover: rgb(197, 184, 184);
    --red-background-color: #C22A1F;
    --red-background-color-hover: #af5b55;
    --height-default-header: 80px;
    --height-default-header-mobile: 55px;
    --grey-text-color: #727272;
}