.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.normal-dark-btn {
    background-color: var(--dark-background-color);
    border: none;
    cursor: pointer;
    color: white;
    &:focus {
        background-color: var(--dark-background-color-hover);
    }
    &:hover {
        background-color: var(--dark-background-color-hover);
    }
}

.p-button-text:focus,
.p-sidebar-icon:focus,
.p-sidebar-close:focus,
.p-link:focus {
    box-shadow: none !important;
}


/*
 *  CUSTOM OVERFLOW BAR
 */

// #customOverflowBar::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
//     border-radius: 10px;
//     background-color: #CCCCCC;
// }
// #customOverflowBar::-webkit-scrollbar {
//     width: 12px;
//     background-color: #F5F5F5;
// }
// #customOverflowBar::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background-color: #D62929;
//     background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
// }