@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
    margin: 0; padding: 0;
    border: 0; outline: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
}

html, body, #__nuxt, #__layout {
	height: 100%;
}

#__layout {
	background: var(--back-second);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
