:root {
    --back: #fff;
    --disable-text: #7e7e7e;
    --active-text: #313131;
    --back-second: #dadada;
    --border-nav: #8F8F8F;
    --title-color: #848484;
    --back-menu-burguer: #efefef;
    --text-form: #202020;
}